src/main/mule/salesforce.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e7340685-57bb-4612-b9d5-8dd2638435c1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="9954ce63-a9a5-4e2b-8e64-0509c5cd29c2" fetchAllApexRestMetadata="true">
		<salesforce:basic-connection username="samabasivarao@apicentrics.com" password="Dream2Big" securityToken="iatm0dMiVVwHL7Nanks4wb4MY" />
	</salesforce:sfdc-config>
	<flow name="salesforceFlow" doc:id="c05709e0-cd55-4697-bb78-98e166230bc5" >
		<http:listener doc:name="Listener" doc:id="59d11002-db56-46b3-acff-e438c482ee61" config-ref="HTTP_Listener_config" path="/sf"/>
		<ee:transform doc:name="Transform Message" doc:id="29d2678c-380d-43c5-82b0-17909a1295ea" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
body:{
  "aid" : payload.id
}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9ac95e71-17fd-41ba-b140-9798395ff998" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;}]"/>
		<salesforce:invoke-apex-rest-method doc:name="Invoke apex rest method" doc:id="aa6865b6-708a-4ab0-99b3-6177d6fd89d4" config-ref="Salesforce_Config" className="accountByID" methodName="getAccountByid^/showAccountsDetailsByid^HttpPost^List&lt;Account&gt;^aid=String"/>
		<ee:transform doc:name="Transform Message" doc:id="90aa820d-9ab1-404f-95d2-12f6e88bc983" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
